{% load static %}
<header class="grid grid-cols-3 w-full p-4 items-center">
  <nav class="justify-self-start">
    <ul class="flex gap-6">
      <li>{% include "components/anchor.html" with href="usuarios:listafuncionarios" label="Dashboard" select=True %}</li>
      <li>{% include "components/anchor.html" with href="usuarios:listafuncionarios" label="Pets" %}</li>
      <li>{% include "components/anchor.html" with href="usuarios:listafuncionarios" label="Turmas" %}</li>
    </ul>
  </nav>
  <img src="{% static 'img/pata_logo.svg' %}"
       alt="logo"
       width="70px"
       height="70px"
       class="justify-self-center">
  <img src="{% static 'img/dog.png' %}"
       alt="perfil"
       width="60px"
       height="60px"
       class="justify-self-end">
</header>
