{% load static %}
<header class="grid relative grid-cols-3 w-full py-4 px-10 items-center">
  <nav class="justify-self-start">
    <ul class="flex gap-6">
      <li>
        {% include "components/anchor.html" with secondary=True href="usuarios:dashboard" pk=user_id label="Dashboard" select=True %}
      </li>
      {% if funcionario_context.funcao.descricao == 'Gerente' %}
        <li>
          {% include "components/anchor.html" with secondary=True href="usuarios:listafuncionarios" label="Funcionários" %}
        </li>
        <li>{% include "components/anchor.html" with secondary=True href="usuarios:financeiro" label="Financeiro" %}</li>
      {% else %}
        <li>{% include "components/anchor.html" with secondary=True href="servicos:listapets" label="Pets" %}</li>
        <li>{% include "components/anchor.html" with secondary=True href="servicos:listaservicos" label="Serviços" %}</li>
        <li>{% include "components/anchor.html" with secondary=True href="servicos:listaservicos" label="Turmas" %}</li>
      {% endif %}
    </ul>
  </nav>
  <img src="{% static 'img/pata_logo.svg' %}"
       alt="logo"
       width="70px"
       height="70px"
       class="justify-self-center">
  <div class="absolute flex flex-col items-end gap-3 top-6 end-10 group">
    <button type="button" class="rounded-full w-14 h-14">
      <img src="{% if funcionario_context.imagem.url %}{{ funcionario_context.imagem.url }}{% else %}{% static 'img/blank-profile.webp' %}{% endif %}"
           alt="perfil"
           width="56px"
           height="56px"
           class="hover:opacity-75 rounded-full">
    </button>
    <a href="{% url 'usuarios:logout' %}"
       class="group-hover:flex cursor-pointer hidden flex-row gap-3 items-center justify-end">
      <div class="group-hover:opacity-100 transition-opacity bg-background px-1 text-xl text-primaryColor rounded-md opacity-0">
        Sair
      </div>
      <button type="button"
              class="flex justify-center items-center w-[52px] h-[52px] bg-surfaceContainer rounded-full hover:bg-primaryContainer">
        <img src="{% static 'img/icons/exit.svg' %}"
             alt="sair"
             width="32px"
             height="32px">
      </button>
    </a>
  </div>
</header>
