{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Serviços
{% endblock title %}
{% block containerTitle %}
    Serviços
{% endblock containerTitle %}
{% block container %}
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        {% include "components/search.html" with placeholder="Pesquisar..." name="query" %}
        {% comment %} TODO: adicionarservico {% endcomment %}
        {% include "components/anchor.html" with href="servicos:listapets" icon="img/icons/add.svg" label="Adicionar serviço" %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th class="px-6">Nome</th>
                <th class="px-6">Valor</th>
                <th class="px-6">Dias da Semana</th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for servico in object_list %}
                <tr class="text-base h-20 border-b border-b-primaryContainer">
                    <td class="px-6">
                        <a href="{% url 'servicos:verservicos' pk=servico.pk %}">{{ servico.nome }}</a>
                    </td>
                    <td class="px-6">R$ {{ servico.valor }}</td>
                    <td>
                        <div class="px-6 h-full flex gap-8 items-center">
                            {% for day in '12345'|make_list %}
                                <div class="flex flex-col gap-2 items-center justify-center">
                                    <p class="text-primaryColor font-medium">
                                        {% if day == '1' %}
                                            Seg
                                        {% elif day == '2' %}
                                            Ter
                                        {% elif day == '3' %}
                                            Qua
                                        {% elif day == '4' %}
                                            Qui
                                        {% elif day == '5' %}
                                            Sex
                                        {% endif %}
                                    </p>
                                    <input type="checkbox"
                                           name="day"
                                           id="day"
                                           disabled
                                           {% if day|add:"0" in servico.get_dias_da_semana_ids %}checked{% endif %}
                                           class="accent-primaryColor w-5 h-5">
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
