{% extends 'index.html' %}
{% load static %}

{% block title %}
    {{ object.nome }}
{% endblock %}

{% block content %}
    <main>
        <h2>{{ object.nome }}</h2>
         <a href="{% url 'servicos:vincularfuncionario' pk=object.id %}">Adicionar Funcionário</a>

        <table border="1">
            <thead>
            <tr>
                <th>Funcionário</th>
                <th>Turno</th>
                <th>Função</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for funcionario in object.funcionarios.all %}
                <tr>
                    <td>
                        <img src="{{ funcionario.imagem.url }}" width="100px">
                        {{ funcionario.usuario.nome_completo }}
                    </td>
                    <td>
                        {{ funcionario.get_turno_display }}
                    </td>
                    <td>
                        {{ funcionario.funcao }}
                    </td>
                    <td>
                        <a href="{% url 'usuarios:verfuncionario' pk=funcionario.pk %}">Ver Funcionario</a>
                        <a href="{% url 'servicos:desvicularfuncionario' servico_id=object.id funcionario_id=funcionario.id %}">Desvincular</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}