{% extends 'index.html' %}
{% load static %}

{% block title %}
    {{ object.nome }}
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'servicos:vincularservico' pk=object.id %}">Adicionar Serviço</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>{{ object.nome }}</h2>

        <table border="1">
            <caption>Pets</caption>
            <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Tutor</th>
                <th>Opções</th>
            </tr>
            </thead>
            {% for pet in pets %}
                <tbody>
                <tr>
                    <td>
                        <img src="{{ pet.imagem.url }}" width="100px">
                    </td>
                    <td>{{ pet.nome }}</td>
                    <td>{{ pet.tutor.nome_completo }}</td>
                    <td><a href="{% url 'servicos:verpet' pk=pet.id %}">Ver Pet</a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        <table border="1">
            <caption>Servicos</caption>
            <thead>
            <tr>
                <th>Serviço</th>
                <th>Valor</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tr>
                {% for servico in object.servicos.values %}
                    <td>
                        {{ servico.nome }}
                    </td>
                    <td>
                        {{ servico.valor }}
                    </td>
                    <td>
                        <ul>
                            {% for dia in servico.dias_da_semana.values %}
                                <li>{{ dia.dia }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'servicos:verturma' pk=object.id %}">Ver serviço</a>
                            </li>
                            <li>
                                <a href="{% url 'servicos:desvincularservico' turma_id=object.id servico_id=servico.id %}">Desvincular</a>
                            </li>
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </main>
{% endblock %}
