{% extends 'index.html' %}
{% load static %}

{% block title %}
    Adicionar Pet ao Serviço
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <a href="{% url 'servicos:verservicos' pk=servico %}"><li>Serviço</li></a>
        </ul>
    </nav>
    <main>
        <h1>Pets</h1>
        {% if pets_nao_vinculados %}
            <table border="1">
                <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Tutor</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in pets_nao_vinculados %}
                    <tr>
                        <td><img src="{{ pet.imagem.url }}" height="100px"></td>
                        <td>{{ pet.nome }}</td>
                        <td>{{ pet.tutor.nome_completo }}</td>
                        <td>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ forms }}
                                <input type="hidden" name="pet_id" value="{{ pet.id }}">
                                <button type="submit">Adicionar Pet</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                </tbody>
            </table>
            <p>Nenhum pet foi encontrado em nossa base de dados.</p>
            <a href="{% url 'servicos:verservicos' pk=servico %}">Serviço</a>
        {% endif %}
    </main>
{% endblock %}