{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Adicionar Tutor
{% endblock title %}
{% block containerTitle %}
    Tutor/adicionar
{% endblock containerTitle %}
{% block container %}
    {% if acao != 'visualizar' %}
        <form method="post" enctype="multipart/form-data" class="w-full">
            {% csrf_token %}
        {% endif %}
        <div class="flex gap-8 w-full">
            <div class="flex flex-col justify-end gap-4 w-full">
                {% include "components/input.html" with acao=acao type="text" label="Nome completo" name="nome_completo" id="id_nome_completo" value=object.usuario.nome_completo %}
                {% for error in form.nome_completo.errors %}<div class="text-red-500">{{ error }}</div>{% endfor %}
                {% include "components/input.html" with acao=acao type="text" label="Documento" name="documento" id="id_documento" value=object.usuario.get_documento_formatado.1 %}
                {% include "components/input.html" with acao=acao type="text" label="Email" name="email" id="email" value=object.usuario.email %}
                {% include "components/input.html" with acao=acao type="number" label="Telefone" name="telefone" id="id_telefone" value=object.usuario.telefone %}
            </div>
            <div class="flex flex-col justify-end gap-4 w-full">
                {% include "components/input.html" with acao=acao type="text" label="CEP" name="cep" id="id_cep" value=endereco.cep %}
                {% include "components/input.html" with acao=acao type="text" label="Estado" name="estado" id="id_estado" value=endereco.estado %}
                {% include "components/input.html" with acao=acao type="text" label="Cidade" name="cidade" id="id_cidade" value=endereco.cidade %}
                {% include "components/input.html" with acao=acao type="text" label="Bairro" name="bairro" id="id_bairro" value=endereco.bairro %}
                {% include "components/input.html" with acao=acao type="text" label="Rua" name="rua" id="id_rua" value=endereco.rua %}
                {% include "components/input.html" with acao=acao type="text" label="Número" name="numero" id="id_numero" value=endereco.numero %}
                {% include "components/input.html" with acao=acao type="text" label="Complemento" name="complemento" id="id_complemento" value=endereco.complemento %}
            </div>
        </div>
        <div class="w-full py-10 flex items-center justify-end gap-8">
            {% if acao == 'visualizar' %}
                {% include "components/anchor.html" with secondary=True href="usuarios:editarfuncionario" pk=funcionario.pk label="Editar Tutor" %}
                {% include "components/anchor.html" with href="usuarios:deletarfuncionario" pk=funcionario.usuario_id label="Excluir Tutor" %}
            {% else %}
                {% include "components/button.html" with secondary=True onclick="javascript:history.go(-1);" label="Cancelar" %}
                {% if acao == 'editar' %}
                    {% include "components/button.html" with type="submit" label="Salvar edição" %}
                {% else %}
                    {% include "components/button.html" with type="submit" label="Cadastrar Tutor" %}
                {% endif %}
            {% endif %}
        </div>
        {% if acao != 'visualizar' %}</form>{% endif %}
{% endblock container %}
