{% extends 'index.html' %}
{% load static %}

{% block title %}
    Adicionar Pet
{% endblock %}

{% block content %}
    <nav>
        {% if object_list %}
            <form method="get" action="{% url 'servicos:pesquisartutor' %}">
                <label>
                    <input name="query" placeholder="Nome, Documento, Endereco, Contato" type="search"
                           value="{{ request.GET.query }}">
                </label>
                <input type="submit" value="Pesquisar">
            </form>
        {% endif %}
        <ul>
            <li>
                <a href="{% url 'servicos:listapets' %}">Pets</a>
            </li>
            <li>
                <a href="{% url 'servicos:adicionartutor' %}">Adicionar Tutor</a>
            </li>
        </ul>
    </nav>

    <main>
        {% if object_list %}
            <h2>Vincular Tutor</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Endereco</th>
                    <th>CEP</th>
                    <th>Número</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>

                {% for tutor in object_list %}
                    {% if tutor.categoria == 'TUTOR' %}
                        <tr>
                            <td>{{ tutor.nome_completo }}</td>
                            <td>{{ tutor.get_documento_formatado.0 }} {{ tutor.get_documento_formatado.1 }}</td>
                            <td>{{ tutor.email }}</td>
                            <td>{{ tutor.telefone }}</td>
                            <td>{{ tutor.endereco }}</td>
                            <td>{{ tutor.endereco.cep }}</td>
                            <td>nº{{ tutor.endereco.numero }}</td>
                            <td>
                                <a href="{% url 'servicos:adicionarpet' pk=tutor.pk %}">Vincular ao pet</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum tutor foi encontrado em nossa base de dados.</p>
            <a href="{% url 'servicos:vinculartutor' %}">Lista Tutores</a>
        {% endif %}
    </main>
{% endblock %}