{% extends 'index.html' %}
{% load static %}

{% block title %}
    Erro 204
{% endblock %}

{% block content %}
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-red-600">204</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Serviço não disponível</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">Lamentamos, mas nossos serviços não estão disponíveis,
                volte mais tarde.</p>
            <div class="w-full mt-10 h-40 flex justify-center bg-center bg-contain bg-no-repeat"
                 style="background-image: url('{% static 'img/imagem-ilustratva_error_504.png' %}');">

            </div>
        </div>
    </main>
{% endblock %}
