<html>
<body>
<main>
    <h1>Observações dos Serviços Prestados aos Pets</h1>
    <h2>Olá {{ nome_tutor }},</h2>
    <section>
        <p>Aqui estão as observações dos serviços prestados aos seus pets:</p>

        <ul>
            {% for observacao in observacoes %}
                <li>
                    <b>{{ observacao.0 }}</b>
                    {{ observacao.1 }}
                </li>
            {% endfor %}
        </ul>
    </section>
    <footer>
        <h5>Obrigado por escolher nosso serviços!</h5>
        <p>Atenciosamente <b>&copy; Coragem</b></p>
    </footer>
</main>
</body>
</html>