{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Pet
{% endblock title %}
{% block containerTitle %}
    Tutor/adicionar
{% endblock containerTitle %}
{% block container %}
    <form method="post" enctype="multipart/form-data" class="w-full">
        <fieldset>
            {% csrf_token %}
            <input type="password"
                   name="password2"
                   id="id_password2"
                   value="coragem@2023"
                   class="hidden">
            <input type="password"
                   name="password1"
                   id="id_password1"
                   value="coragem@2023"
                   class="hidden">
            <div class="flex gap-8 w-full">
                <div class="flex flex-col justify-end gap-4 w-full">
                    {% for field in form %}
                        {% if field.name in 'nome_completo,documento,telefone,email' %}
                            {% include "components/input.html" with type=field.field.widget.input_type required=field.field.required label=field.label name=field.name id=field.id_for_label value=field.value erro=field.errors %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex flex-col justify-end gap-4 w-full">
                    {% for field in form %}
                        {% if field.name in 'cep,estado,cidade,bairro,rua,numero,complemento' %}
                            {% include "components/input.html" with caracters=field.field.max_length type=field.field.widget.input_type required=field.field.required label=field.label name=field.name id=field.id_for_label value=field.value erro=field.errors %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="w-full py-10 flex items-center justify-end gap-8">
                {% include "components/button.html" with secondary=True onclick="javascript:history.go(-1);" label="Cancelar" %}
                {% include "components/button.html" with type="submit" label="Cadastrar tutor" %}
            </div>
        </fieldset>
    </form>
{% endblock container %}