{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
  Pet
{% endblock title %}
{% block containerTitle %}
  Tutor/editar
{% endblock containerTitle %}
{% block container %}
  <form method="post" enctype="multipart/form-data" class="w-full">
    {% include "components/message.html" %}
    <fieldset>
      {% csrf_token %}
      <div class="flex gap-8 w-full">
        <div class="flex flex-col justify-end gap-4 w-full">
            {% include "components/input.html" with type=form.nome_completo.field.widget.input_type label=form.nome_completo.label name=form.nome_completo.name id=form.nome_completo.id_for_label value=object.nome_completo %}
            {% include "components/input.html" with disabled='True' type='text' label='Documento' name='documento' id='documento_id' value=object.get_documento_formatado.1 %}
            {% include "components/input.html" with type=form.telefone.field.widget.input_type label=form.telefone.label name=form.telefone.name id=form.telefone.id_for_label value=object.telefone %}
            {% include "components/input.html" with type=form.email.field.widget.input_type label=form.email.label name=form.email.name id=form.email.id_for_label value=object.email %}
        </div>
        <div class="flex flex-col justify-end gap-4 w-full">
          {% include "components/input.html" with type=form.cep.field.widget.input_type label=form.cep.label name=form.cep.name id=form.cep.id_for_label value=object.endereco.cep %}
          {% include "components/input.html" with type=form.estado.field.widget.input_type label=form.estado.label name=form.estado.name id=form.estado.id_for_label value=object.endereco.estado %}
          {% include "components/input.html" with type=form.cidade.field.widget.input_type label=form.cidade.label name=form.cidade.name id=form.cidade.id_for_label value=object.endereco.cidade %}
          {% include "components/input.html" with type=form.bairro.field.widget.input_type label=form.bairro.label name=form.bairro.name id=form.bairro.id_for_label value=object.endereco.bairro %}
          {% include "components/input.html" with type=form.rua.field.widget.input_type label=form.rua.label name=form.rua.name id=form.rua.id_for_label value=object.endereco.rua %}
          {% include "components/input.html" with type=form.numero.field.widget.input_type label=form.numero.label name=form.numero.name id=form.numero.id_for_label value=object.endereco.numero %}
          {% include "components/input.html" with type=form.complemento.field.widget.input_type label=form.complemento.label name=form.complemento.name id=form.complemento.id_for_label value=object.endereco.complemento %}
        </div>
      </div>
      <div class="w-full py-10 flex items-center justify-end gap-8">
          {% include "components/button.html" with type="button" secondary=True onclick="javascript:history.go(-1);" label="Cancelar" %}
          {% include "components/button.html" with type="submit" label="Salvar Edição" %}
      </div>
    </fieldset>
  </form>
{% endblock container %}
