{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Pets
{% endblock title %}
{% block containerTitle %}
    Pets
{% endblock containerTitle %}
{% block container %}
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        {% include "components/search.html" with placeholder="Pesquisar..." name="query" %}
        {% include "components/anchor.html" with href="servicos:vinculartutor" icon="img/icons/add.svg" label="Adicionar pet" %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th className="w-24 px-6"></th>
                <th class="px-6">Nome</th>
                <th class="px-6">Tutor</th>
                <th class="px-6">Turma</th>
                <th class="px-6">Gênero</th>
                <th class="px-6">Raça</th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for pet in object_list %}
                <tr class="text-base h-20 border-b border-b-primaryContainer">
                    <td class="text-center w-24 px-6">
                        <a href="{% url 'servicos:verpet' pk=pet.pk %}">
                            <img src={{ pet.imagem.url }} alt="perfil" width="48px" height="48px" class="w-12 h-12 object-cover object-top rounded-full inline-block align-middle">
                        </a>
                    </td>
                    <td class="px-6">
                        <a href="{% url 'servicos:verpet' pk=pet.pk %}">{{ pet.nome }}</a>
                    </td>
                    <td class="px-6">
                        <a href="{% url 'servicos:verpet' pk=pet.pk %}">{{ pet.tutor.nome_completo }}</a>
                    </td>
                    <td class="px-6">Turma</td>
                    <td class="px-6">{{ pet.get_genero_display }}</td>
                    <td class="px-6">{{ pet.raca }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
