{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Pets
{% endblock title %}
{% block containerTitle %}
    Pets/vincular tutor
{% endblock containerTitle %}
{% block container %}
    <h3 class="text-xl text-primaryColor">Selecione um tutor para vincular</h3>
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        <form method="get" action="{% url 'servicos:pesquisartutor' %}">
            {% include "components/search.html" with value=request.GET.query %}
        </form>
        {% include "components/anchor.html" with href="servicos:adicionartutor" icon="img/icons/add.svg" label="Adicionar tutor" %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th class="px-6">Nome</th>
                <th class="px-6">Documento</th>
                <th class="px-6">E-mail</th>
                <th class="px-6">Telefone</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for tutor in object_list %}
                {% if tutor.categoria == 'TUTOR' %}
                    <tr class="text-base h-20 border-b border-b-primaryContainer">
                        <td class="px-6">
                            <a href="{% url 'servicos:adicionarpet' pk=tutor.pk %}">{{ tutor.nome_completo }}</a>
                        </td>
                        <td class="px-6">{{ tutor.get_documento_formatado.0 }} {{ tutor.get_documento_formatado.1 }}</td>
                        <td class="px-6">{{ tutor.email }}</td>
                        <td class="px-6">{{ tutor.telefone }}</td>
                        <td class="font-medium text-primaryColor px-6">
                            <a href={% url 'servicos:vertutor' pk=tutor.pk %}>Ver tutor</a>
                        </td>
                        <td class="font-medium text-primaryColor px-6">
                            <a href={% url 'servicos:adicionarpet' pk=tutor.pk %}>Vincular pet</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
