{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Serviços de creche e cuidados para animais de estimação.">
    <meta name="keywords"
          content="ccreche pet, cuidado de animais, hotel para cães, hospedagem para pets, daycare para animais, socialização de animais, pet-friendly, atividades ao ar livre, monitoramento 24 horas, pet sitter, banho e tosa">
    <meta name="author" content="Equipe Coragem">
    <title>Coragem |
      {% block title %}
      {% endblock title %}
    </title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
            tailwind.config = {
                theme: {
                  extend: {
                    colors: {
                      primaryColor: '#974067',
                      onPrimaryFixedVariant: "#7A294F",
                      primaryContainer: '#FFD9E4',
                      surfaceContainer: "#F7EBED",
                      onPrimaryContainer: '#3E0021',
                      background: '#FFFBFF',
                    },
                  },
                },
              };
    </script>
    <!-- CSS Base  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="h-screen flex flex-col">
    {% if user.is_authenticated %}
      {% include "header/header.html" with user_id=user.id %}
    {% endif %}
    {% include "components/message.html" %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
