{% extends 'index.html' %}
{% load static %}

{% block title %}
    Excluir Cliente
{% endblock %}

{% block content %}
    <main>
        <h2>Você está prestes a excluir os dados desse cliente!</h2>
        <p>Tenha certeza da ação que você está fazendo.</p>
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">Deletar</button>
                <a href="{% url 'usuarios:financeiro' %}">Cancelar</a>
            </div>
        </form>
    </main>
{% endblock %}
