{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Financeiro
{% endblock title %}
{% block containerTitle %}
    Financeiro
{% endblock containerTitle %}
{% block container %}
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        <form method="get" action="{% url 'usuarios:pesquisarfinanceiro' %}">
            {% include "components/search.html" with value=request.GET.query %}
        </form>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th class="px-6">Nome</th>
                <th class="px-6">Débito</th>
                <th class="px-6">Data Vencimento</th>
                <th class="px-6">Dias corridos</th>
                <th class="px-6">Opções</th>
                <th class="px-6"></th>
                <th class="px-6"></th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for pagamento in object_list %}
                <tr class="text-base h-20 border-b border-b-primaryContainer">
                    <td class="px-6">{{ pagamento.cliente.nome_completo }}</td>
                    <td class="px-6">R$ {{ pagamento.total_pagamento }}</td>
                    <td class="px-6">{{ pagamento.dia_vencimento }}</td>
                    {% for dia_corrido in dias_corridos %}
                        {% if dia_corrido.id == pagamento.pk %}<td class="px-6">{{ dia_corrido.dias }} dias</td>{% endif %}
                    {% endfor %}
                    <td class="font-medium text-primaryColor px-6">
                        <a href={% url 'servicos:vertutor' pk=pagamento.cliente.pk %}>Ver Cliente</a>
                    </td>
                    <td class="font-medium text-primaryColor px-6">
                        <a href="{% url 'usuarios:deletarcliente' pk=pagamento.cliente.pk %}" class="text-red-600">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
