{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Tutores
{% endblock title %}
{% block containerTitle %}
    Tutores
{% endblock containerTitle %}
{% block container %}
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        <form method="get" action="{% url 'servicos:pesquisartutor' %}">
            {% include "components/search.html" with value=request.GET.query %}
        </form>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th class="px-6">Nome</th>
                <th class="px-6">Telefone</th>
                <th class="px-6">E-mail</th>
                <th class="px-6"></th>
                <th class="px-6"></th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for tutor in object_list %}
                    <tr class="text-base h-20 border-b border-b-primaryContainer">
                        <td class="px-6">
                            <a href="{% url 'usuarios:verfuncionario' pk=tutor.pk %}">{{ tutor.nome_completo }}</a>
                        </td>
                        <td class="px-6">{{ tutor.telefone }}</td>
                        <td class="px-6">{{ tutor.email }}</td>
                        <td class="font-medium text-primaryColor px-6">
                            <a href={% url 'servicos:editartutor' pk=tutor.pk %}>Editar</a>
                        </td>
                        <td class="font-medium text-red-600 px-6">
                            <a href={% url 'usuarios:deletarcliente' pk=tutor.pk %}>Excluir</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
