{% extends "containers/mainContainer.html" %}
{% load static %}
{% block title %}
    Funcionarios
{% endblock title %}
{% block containerTitle %}
    Funcionários
{% endblock containerTitle %}
{% block container %}
    <div class="w-full flex items-center justify-end gap-4 border-spacing-x-8">
        <form method="get" action="{% url 'usuarios:pesquisafuncionarios' %}">
            {% include "components/search.html" with value=request.GET.query %}
        </form>
        {% include "components/anchor.html" with href="usuarios:adicionarfuncionario" icon="img/icons/add.svg" label="Novo funcionário" %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead>
            <tr class="text-lg h-16 bg-surfaceContainer border-b border-b-primaryColor">
                <th className="w-24 px-6"></th>
                <th class="px-6">ID</th>
                <th class="px-6">Nome</th>
                <th class="px-6">Cargo</th>
                <th class="px-6">Turno</th>
                <th class="px-6">Telefone</th>
                <th class="px-6">E-mail</th>
                <th class="px-6"></th>
                <th class="px-6"></th>
            </tr>
        </thead>
        <tbody class="bg-background">
            {% for funcionario in object_list %}
                {% if funcionario.usuario_id != usuario_atual.pk %}
                    <tr class="text-base h-20 border-b border-b-primaryContainer">
                        <td class="text-center w-24 px-6">
                            <img src={{ funcionario.imagem.url }} alt="perfil" width="48px" height="48px" class="h-12 w-12 object-cover object-top rounded-full">
                        </td>
                        <td class="px-6">{{ funcionario.pk }}</td>
                        <td class="px-6">
                            <a href="{% url 'usuarios:verfuncionario' pk=funcionario.pk %}">{{ funcionario.usuario.nome_completo }}</a>
                        </td>
                        <td class="px-6">{{ funcionario.funcao }}</td>
                        <td class="px-6">{{ funcionario.get_turno_display }}</td>
                        <td class="px-6">{{ funcionario.usuario.telefone }}</td>
                        <td class="px-6">{{ funcionario.usuario.email }}</td>
                        <td class="font-medium text-primaryColor px-6">
                            <a href={% url 'usuarios:editarfuncionario' pk=funcionario.pk %}>Editar</a>
                        </td>
                        <td class="font-medium text-red-600 px-6">
                            <a href="{% url 'usuarios:deletarfuncionario' pk=funcionario.usuario_id %}">Excluir</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}
