{% load static %}
{% if messages %}
  {% for message in messages %}
    <div class="{% if message.tags == 'success' %} bg-green-200 text-green-800 {% else %} bg-red-200 text-red-800 {% endif %} w-[480px] rounded px-4 py-2 my-2"
         role="alert">
      <div class="flex items-center justify-center gap-4">
        {% if 'success' in message.tags %}
          <img src="{% static 'img/icons/check.svg' %}"
               alt=""
               width="24px"
               height="24px">
        {% else %}
          <img src="{% static 'img/icons/close.svg' %}"
               alt=""
               width="24px"
               height="24px">
        {% endif %}
        <div>
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
