{% extends "containers/authContainer.html" %}
{% load static %}
{% block title %}
    Login
{% endblock title %}
{% block containerTitle %}
    Seja bem-vindo!
{% endblock containerTitle %}
{% block containerSubTitle %}
    Para a realização do <b>pagamento</b> confirme os dados a seguir
{% endblock containerSubTitle %}
{% block container %}
    <form method="post" class="w-full flex flex-col gap-4">
        {% csrf_token %}
        {% for field in form %}
            {% include "components/input.html" with type=field.field.widget.input_type label=field.label name=field.name id=field.id_for_label %}
        {% endfor %}
        {% if tipo == 'pagamento' %}
            <button type="submit">Confirmar Pagamento</button>
        {% else %}
            <button type="submit">Verificar</button>
        {% endif %}
    </form>

{% endblock %}