{% extends 'index.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <nav>
        {% if funcionario.funcao.descricao == 'Gerente' %}
            <ul>
                <a href="{% url 'usuarios:listafuncionarios' %}">
                    <li>Funcionários</li>
                </a>
                <a href="{% url 'usuarios:financeiro' %}">
                    <li>Financeiro</li>
                </a>
            </ul>
        {% else %}
            <ul>
                <a href="{% url 'servicos:listapets' %}">
                    <li>Pets</li>
                </a>
                <a href="{% url 'servicos:listaservicos' %}">
                    <li>Serviços</li>
                </a>
            </ul>
        {% endif %}
    </nav>

    <h1>Dashboard</h1>
    <section>
        <ol>
            <li>{{ mensagem }} {{ funcionario.usuario.nome_completo }}</li>
             <li>E-mail: {{ funcionario.usuario.email }}</li>
            <li>Cargo: {{ funcionario.funcao }}</li>
        </ol>
        <div>
            <a href="{% url 'usuarios:logout' %}">Logout</a>
            <a href="{% url 'usuarios:editarperfil' pk=object.pk %}">Editar Perfil</a>
        </div>
    </section>
{% endblock %}