{% extends 'index.html' %}
{% load static %}

{% block title %}
    Funcionarios
{% endblock %}

{% block content %}
    <nav>
        <form method="get" action="{% url 'usuarios:pesquisafuncionarios' %}">
            <label>
                <input name="query" placeholder="Nome, Documento, Cargo" type="search" value="{{ request.GET.query }}">
            </label>
            <input type="submit" value="Pesquisar">
        </form>
        <ul>
            <a href="{% url 'usuarios:dashboard' pk=usuario_atual.pk %}">
                <li>Dashboard</li>
            </a>
            <a href="{% url 'usuarios:adicionarfuncionario' %}">
                <li>Adicionar Funcionário</li>
            </a>
        </ul>
    </nav>
    <main>
        <h1>Funcionários</h1>
        {% if object_list %}
            <table border="1">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                {% for funcionario in object_list %}
                    {% if funcionario.usuario_id != usuario_atual.pk %}
                        <tr>
                            <td>{{ funcionario.usuario.nome_completo }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="{% url 'usuarios:verfuncionario' pk=funcionario.pk %}">Mais informações</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum funcionário foi encontrado em nossa base de dados.</p>
            <a href="{% url 'usuarios:listafuncionarios' %}">Funcionários</a>
        {% endif %}
    </main>


{% endblock %}