{% extends "index.html" %}
{% load static %}
{% block title %}
    Funcionarios
{% endblock title %}
{% block content %}
    <main class="w-full flex flex-col items-center gap-4 p-10">
        <div class="w-full flex items-center justify-end gap-4">
            {% include "components/search.html" with placeholder="Pesquisar..." %}
            {% include "components/button.html" with type="button" icon="img/icons/add.svg" label="Novo funcionário" %}
        </div>
        {% if object_list %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in object_list %}
                        {% if funcionario.usuario_id != usuario_atual.pk %}
                            <tr>
                                <td>{{ funcionario.usuario.nome_completo }}</td>
                                <td>{{ funcionario.funcao }}</td>
                                <td>
                                    <a href="{% url 'usuarios:verfuncionario' pk=funcionario.pk %}">Mais informações</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum funcionário foi encontrado em nossa base de dados.</p>
            <a href="{% url 'usuarios:listafuncionarios' %}">Funcionários</a>
        {% endif %}
    </main>
{% endblock content %}
