{% extends "login/authContainer.html" %}
{% load static %}
{% block title %}
    Recuperar Conta
{% endblock title %}
{% block containerTitle %}
    Recuperação de conta
{% endblock containerTitle %}
{% block containerSubTitle %}
    Para ajudar a proteger sua conta, o <b>Coragem</b> quer confirmar se é realmente você que está tentando fazer login
{% endblock containerSubTitle %}
{% block container %}
    <form method="post" class="w-full flex flex-col gap-4">
        {% csrf_token %}
        {% include "components/input.html" with type="email" label="Email" name="email" id="id_email" %}
        <p class="text-primaryColor text-sm text-center">
            Entre em contato com o <b>gerente</b> ou <b>suporte</b> em caso de problemas.
        </p>
        <div class="flex items-center justify-between">
            {% include "components/anchor.html" with href="usuarios:login" label="Fazer login" %}
            {% include "components/button.html" with type="submit" label="Enviar" %}
        </div>
    </form>
{% endblock container %}
